################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/CleanCode/.vs/CleanCode/v15/Server/sqlite3
